h1{
  text-align: center;
}
body{
  background-color: white;
}
h2{
  text-align: center;
}
.move1{
  background-color: #999999;
  margin: 12px;
  padding: 10px;
}
.move2{
  background-color: #999999;
  margin: 12px;
  padding: 10px;
}
.move3{
  background-color: #999999;
  margin: 12px;
  padding: 10px;
}
#bs-nav-demo{
  text-align: center;
}
.navbar-header{
  background-color: #999999;

}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: black;}
